<div class="store_containter">
    <div class="store_block" style="background-image: url(<%= @post.img %>)">
    </div>       

    <div class="detail_container">
     <span class="name"><%= @post.name %></span><br>
     <span class="address"> 주소 : <b> <%= @post.address %></b></span><br>
     <span class="tel">전화번호 : <b>  <%= @post.tel %></span></b><br>
     <sapn class="score">관슐랭 점수 :  <b> <%= @post.score %></span></b><br>
 	</div>
  
</div>

